<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All {{ htype }}s</title>
    <link rel="stylesheet" href="/static/marg.css" type="text/css">
</head>

<body>
    <p><a href="{{ url_for('show_town', town_name=town.name, size=town.size) }}"><< Go back to main town.</a></p>

    {% if town.classes[htype]['total'] > 0 %}
        <h3>All {{ htype.lower() }}s in {{ town.name }}</h3>
        {% for house in town.iter_houses(htype) %}
            <p><a href="#">{{ house.name }}</a>, owned by {{ house.inhabitants[0].name }}</p>
        {% endfor %}
    {% else %}
        <h4>{{ town.name }} does not have any {{ htype.lower() }}s.</h4>
    {% endif %}
</body>

</html>