<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Town Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/marg.css">
    <link rel="stylesheet" type="text/css" href="/static/intro.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="tbox">
        <h1>D&D Town Generator</h1>
        <p>
            Hey there! This is the <b>Noordstar D&D Town Generator</b>, an unofficial program that generates
            random towns for the fifth edition of Dungeons and Dragons.
        </p>
        <p>
            <b>Create your own town here:</b>
            <input type="text" placeholder="Town name">
            <select name="size">
                <option value="tiny">Tiny</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>

            </select>
        </p>
    </div>
</body>
</html>