<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if tavern == None %}Unknown tavern{% else %}Tavern {{ tavern.name }}{% endif %}</title>
    {% include "parts/icon.html" %}
</head>
<body>
    <a href="{{ url_for('show_town', town_name=town.name, size=town.size) }}"><< Go back to main town.</a>
    {% if tavern == None%}
        This tavern does not exist.
    {% else %}
        <h4>This tavern is owned by {{ tavern.inhabitants[0] }}</h4>

        <table width="40%" border="1">
            <tbody>
                {% for meal in tavern.extra_data['menu'] %}
                    <tr>
                        <td>{{ meal }}</td>
                        <td>{{ tavern.extra_data['menu'][meal] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <svg width="640" height="400" id="mainSVG">
            {% for r in tavern.extra_data['graph']['rect'] %}
                <a href="
                    {{ 
                        url_for(
                            'tavern_guests_at_given_time', 
                            town_name=town.name,
                            size=town.size,
                            neighbourhood=tavern.seed[3],
                            tavern_id=tavern.seed[5],
                            time=r['time']
                        ) 
                    }}
                "><rect fill="#cccccc" x="{{r['x']}}" y="{{r['y']+50}}" width="{{r['width']}}" height="{{r['height']}}"></rect></a>
            {% endfor %}
            {% for t in tavern.extra_data['graph']['text'] %}
                <a href="{{   
                    url_for(
                            'tavern_guests_at_given_time', 
                            town_name=town.name,
                            size=town.size,
                            neighbourhood=tavern.seed[3],
                            tavern_id=tavern.seed[5],
                            time=t['value']
                            ) 
                    }}">
                    <rect x="{{t['x']}}" y="{{t['y']+35}}" width="35" height="20" fill="#eeeeee"></rect>
                    <text x="{{t['x']}}" y="{{t['y']+50}}">{{ t['value'] }}</text>
                </a>
            {% endfor %}
        </svg>	
    {% endif %}
</body>
</html>