{% extends "all-of-class.html" %}

{% block pagination1 %}
    <p>
        {% if page > 0 %}
            <a href="{{ url_for('show_people_of_class_at_page', 
                                    town_name=town.name, 
                                    size=town.size, 
                                    class_name=class_name, 
                                    page=(page-1)
                                ) 
                        }}"><< Previous page</a>
        {% endif %}
        {% if not last_page %}
            <a href="{{ url_for('show_people_of_class_at_page', 
                                    town_name=town.name, 
                                    size=town.size, 
                                    class_name=class_name, 
                                    page=(page+1)
                                ) 
                        }}">Next page >></a>
        {% endif %}
    </p>
{% endblock %}

{% block pagination2 %}
    <p>
        {% if page > 0 %}
            <a href="{{ url_for('show_people_of_class_at_page', 
                                    town_name=town.name, 
                                    size=town.size, 
                                    class_name=class_name, 
                                    page=(page-1)
                                ) 
                        }}"><< Previous page</a>
        {% endif %}
        {% if not last_page %}
            <a href="{{ url_for('show_people_of_class_at_page', 
                                    town_name=town.name, 
                                    size=town.size, 
                                    class_name=class_name, 
                                    page=(page+1)
                                ) 
                        }}">Next page >></a>
        {% endif %}
    </p>
{% endblock %}