<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Town of {{ town.name }}</title>
    {% include "parts/icon.html" %}
    
    <link rel="stylesheet" href="/static/marg.css" type="text/css">
</head>

<body>
    <p><a href="{{ url_for('town_menu') }}">Homepage</a></p>
    <h1>THE TOWN OF {{ town.name.upper() }}</h1>

    {% for name in town.classes %}
        {% if town.classes[name]['shop'] == None and town.classes[name]['total'] > 0 %}
            <a href="{{ url_for('show_people_of_class', town_name=town.name, size=town.size, class_name=name) }}">
                <p>View all {{ name.lower() }}s: {{ town.classes[name]['total'] }}</p>
            </a>
        {% endif %}
    {% endfor %}

    {% for name in town.classes %}
        {% if town.classes[name]['shop'] != None and town.classes[name]['total'] > 0 %}
            <h2>{{ town.classes[name]['shop'] }}s</h4>
            {% for house in town.iter_houses(name, maximum=10) %}
                <p>
                    {{ house }}, owned by {{ house.inhabitants[0] }}
                </p>
            {% endfor %}
            {% if town.classes[name]['total'] > 10 %}
                <p>
                    <a href="{{ url_for('show_all_stores', town_name=town.name, size=town.size, store_type=name) }}">
                        View all {{ town.classes[name]['shop'].lower() }}s >>
                    </a>
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}
</body>

</html>