<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>YOUR TOWN NAME</h1>
    <table width="90%" border="1">
        <tbody>
            <tr>
                <td>Commoners</td>
                <td>Militia</td>
                <td>Stuff</td>
                <td>Aidunno</td>
            </tr>
            <tr>
                <td>Meh stuff</td>
                <td>Other cool thing no-one cares about</td>
                <td>1</td>
                <td>Aidunno</td>
            </tr>
        </tbody>
    </table>

    {% for name in town.available_classes() %}
        <a href="/{{ town.name }}/{{ town.size }}/class/{{ name }}"><p>View all {{ name }}s</p></a>
    {% endfor %}


    <h3>Blacksmiths</h3>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>

    <h3>General store</h3>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>

    <h3>Taverns</h3>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
    <p><a href="#">Yo momma</a></p>
</body>
</html>