<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributors</title>
    <meta name="description" content="This page thanks the people who volunteered to contribute to the Noordstar D&D Town Generator.">
    <meta property="og:title" content="Town Generator Contributors"/>
    <meta property="og:description" content="Thank you to everyone who contributed to the website!"/>
    <link rel="shortcut icon" href="http://town.noordstar.me/favicon.ico" type="image/x-icon" />
    {% include "parts/icon.html" %}

    <link rel="stylesheet" type="text/css" href="/static/marg.css">
    <link rel="stylesheet" type="text/css" href="/static/intro.css">

    {% if allow_ads %}
    <!-- Google Ads -->
    <script data-ad-client="ca-pub-3937748858301996" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% else %}
    <!-- No ads here-o 'cause you're a HERO -->
    {% endif %}
</head>
<body>
    <div id="tbox">
        <p><a href="{{url_for('town_menu') }}">Home</a></p>
        <h2>Thank you, contributors!</h2>
        <p>
            This website wouldn't be so filled with variety if it wasn't for these contributors.
            Below are all contributors listed, with a number in front that show how many contributions
            they've made.
        </p>
        <h2>Contributors</h2>
        <ul>
            {% for name in conts %}
                <li>[{{ conts[name] }}] {{ name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>